.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
missing
tallow
tallow-*.tar.gz
tallow-*/
tallow.1
tallow.1.html
tallow.o
tallow.service
*~
DEADJOE
